.datepicker__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .datepicker__input {
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid #050505a8;
    border-radius: 4px;
    cursor: pointer;
    width: 120rem;
  }
