.activePage {
    border: solid 3px black
}

.table__header {
    display: flex;
    justify-content: space-between;
}

.table__header-elem {
    display: flex;
}

.table__col {
    display: flex;
}

.table__col-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3px;
    margin-right: 4px;
}

.table__col-arrow {
    color: grey;
}

.table__pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.table__pagination-space {
    margin-left: 35px;
    margin-right: 35px;
    cursor: pointer;
}

.table__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.fa-caret-up {
    margin-bottom: -4px;
}
.fa-caret-down {
    margin-top: -4px;
}

.table__row-grey{
    background-color: lightgrey;
}
.table__row-white{
    background-color: white;
}
.table__row-block{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}