html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.submit__button{
  margin-top: 25px;
}

.container__body{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}
.container__element{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__element-center{
  margin-top:100px;
  width: 100%;
}

.alert{
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

[data-error-visible="false"] {
  display: none;
}

@media (max-width: 640px) {
  .container__body{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
}